@import url(./global.css);
@import url(./image-carousel.css);



/* ====================================== Slick banner ============================= */

.banner-image img {
    object-fit: inherit;
    min-height: 50vh;
}

.slider-main {
    padding: 0;
}

.slick-banner {
    overflow: hidden;
}

.image-content {
    position: absolute;
    color: var(--white-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slick-dots {
    bottom: 10px !important;
}


.slick-dots li button:before {
    color: var(--white-color);
    width: 8px;
    height: 8px;
    content: '';
    background: var(--white-color);
    border-radius: 20px;
    transition: all 1s;
}

/* .slick-dots li.slick-active button::before {
    font-size: 55px;
} */


/* <!--========================= Feature content =============================== --> */

.feature-content-image img {
    width: 100%;
}

.feature-content-details.feature-label {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.feature-title h3 {
    margin: 15px 0;
}

/* --------------------------------------Sign Post-------------------------------------------- */

.signpost-variation {
    background-color: var(--yellow-color);
}

.signpost-variation .signpost-box .signpost-detail {
    background-color: var(--white-color);
    padding: 15px;

}

/* <!-- --------------------------------------------ACCORDION---------------------------------------------- --> */

.accordion .accordion-box .accordion-description p {
    margin-bottom: 0;
}

.accordion .accordion-box .accordion-description {
    background-color: #bbe6dd87;
    height: 0px;
    overflow: hidden;
    max-height: 0px;
    transition: all 2s ease-in-out;
    /* display: none; */
}

.accordion .accordion-box .accordion-description p {
    padding: 20px;
}

.accordion .accordion-box.active .accordion-description {
    height: auto;
    max-height: 1500px;
    /* display: block; */
}

.accordion .accordion-box.active .accordion-title i {
    transform: rotate(-180deg);
}

.accordion .accordion-box .accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gray-color);
    padding: 15px 25px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    cursor: pointer;
}

/* -------------------------Sign Post-Image/Image with Rollover/Document Download------------------ */

.rollover-variation {
    background: var(--light-green);
}

.rollover-variation .signpost-box {
    position: relative;
}

.rollover-variation .signpost-box .signpost-detail {
    height: 60px;
    position: absolute;
    padding: 15px;
    bottom: 0;
    background: rgba(41, 38, 38, 0.979);
    color: var(--white-color);
    transition: 0.5s;
    overflow: hidden;
}

.rollover-variation .signpost-box .signpost-detail .signpost-title h3 {
    padding-bottom: 10px;
}

.rollover-variation .signpost-box:hover .signpost-detail {
    height: 180px;
    padding: 10px;
}


/* .signpost-detail p {
    visibility: hidden;
    opacity: 0;
}

.signpost-detail:hover p {
    visibility: visible;  
    opacity: 1;  
} */


/* ====================================== Image slider ============================= */

.image-slider {
    position: relative;
}

.image-slider-sub-block {
    position: relative;
}

.image-slider-sub-block .image-slider-text {
    position: absolute;
    color: var(--white-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-slider-sub-block .image-slider-text h1 {
    font-weight: bold;
}

.arrow {
    font-size: 2rem;
    color: rgb(88, 83, 83);
    padding: 7px 18px;
    background: var(--white-color);
    position: absolute;
    top: 45%;
    border-radius: 50%;
}

.arrow:hover {
    border: 2px rgb(147, 132, 132);
    cursor: pointer;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/* <!------------------------------------TABS CONATENT-------------------------------------> */

.tabs-main-block {
    background: rgb(206, 199, 199);
}

.tab {
    /* padding-bottom: 20px; */
    overflow: hidden;
}

.tab .buttonlinks {
    background-color: var(--gray-color);
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    font-size: 1.7rem;
}

.tab button:hover {
    background-color: #484343;
}

.tab button.active {
    background-color: var(--white-color);
    color: var(--black-color);
}

.btncontent {
    padding: 20px 15px;
    background: rgb(211, 186, 153);
}

/* <!---------------------------------------Text on image wrapper--------------------------------------------- --> */

.text-on-image-wrapper {
    margin-bottom: 50px;
}

.image-section img {
    width: 100%;
}

.text-on-image-text-block {
    background: var(--brow-color);
    color: var(--white-color);
    text-align: center;
    padding: 25px;
    margin-top: -70px;

}

.text-on-image-heading h2 {
    margin-bottom: 15px;
}





/* -------------------------------Media query---------------------------------------- */

@media (max-width:768px) {

    .feature-content-details {
        margin-bottom: 30px;
    }

    .signpost-box {
        margin-bottom: 30px;
    }

    .arrow {
        font-size: 1.7rem;
        padding: 4px 10px;
    }

    .text-on-image-text-block {
        margin-top: -40px;
    }

    h2 {
        font-size: 3.1rem;
    }
}

@media (max-width:576px) {

    .section-padding {
        padding: 40px 0;
    }

    .banner-text p {
        display: none;
    }

    .banner-sub-block .banner-text h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    p {
        font-size: 1.7rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .banner-description p {
        display: none;
    }
    .mt{
        margin-top:0;
    }
    .slider-image img{
        min-height: 50vh;
    }
}

@media (max-width:950px) {
    .signpost-rollover-box .signpost-rollover-detail .signpost-description p {
        font-size: 1.5rem;
    }

    .rollover-variation .signpost-description p {
        font-size: 1.6rem;
    }

    /* .banner {
        min-height: 400px;
    } */

}