/* -------------------------Sign Post-Image/Image with Rollover/Document Download------------------ */

/* .rollover-variation {
    background: var(--yellow-color);
} */

.rollover-variation .signpost-box {
    position: relative;
    height: 400px;
    cursor: pointer;

}

.rollover-variation .signpost-box .signpost-image,img{
    height: 100%;
} 

.rollover-variation .signpost-box .signpost-detail {
    position: absolute;
    padding: 30px;
    bottom: 0;
    color: var(--white-color);
    transition: 0.5s;
    overflow: hidden;
    height: 90px;
}

.rollover-variation .signpost-box:hover .signpost-detail{
    height: 270px;
}

.rollover-variation .signpost-box .secondary-cta a:hover{
    color: var(--white-color);
}

/* .rollover-variation .signpost-box .signpost-detail .signpost-title h3 {
    padding-bottom: 10px;
} */

/* .rollover-variation .signpost-box:hover .signpost-detail {
    height: 180px;
    padding: 10px;
} */

/* .signpost-detail p {
    visibility: hidden;
    opacity: 0;
}

.signpost-detail:hover p {
    visibility: visible;  
    opacity: 1;  
} */